$main-color:#D32F2F;
$secondary-color:#B71C1C ;
$pure-red: #b02537;
$hover-btn:#FF6659;
$light-red:#FFEBEE;
$dark:#010101;
$pure-dark:#2e2e2e;
$pure-white: #fff;
$light-white: #eee;
$green:#1B5E20;
$pure-green:#43A047;
$light-green: #C8E6C9;

 