@use './colors' as *;
@use './components' as *;

//Menu
.hamburger {
	position: fixed;
	top: 3em;
	left: 1em;
	transform: translateY(-50%);
	z-index: 500;

	&-inner,
	&-inner::before,
	&-inner::after {
		background-color: $main-color;
		z-index: 500;
	}
}

.hamburger--spin.is-active .hamburger-inner,
.hamburger--spin.is-active .hamburger-inner::after {
	background-color: $main-color;
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: $pure-white;
	transform: translateX(-102%);
	transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	z-index: 100;

	&--active {
		transform: translateX(0);
	}

	&__link {
		position: relative;
		display: inline-block;
		margin: 0.5em;
		padding: 0.5em;
		font-size: 2.3rem;
		text-transform: uppercase;
		text-decoration: none;
		color: $pure-dark;
		transition: color 0.3s, opacity 0.3s;

		&:hover {
			color: $main-color;
			opacity: 0.7;
		}
	}
}

.nav-links-animation {
	animation: navLinksAnimation 1s both;
}

// HEADER
.header {
	position: relative;
	display: grid;
	justify-content: center;
	align-content: center;
	padding: 0.5em;
	height: 100vh;
	color: $pure-white;
	@include heroImages('../img/header-img-sm.jpg');

	&__heading {
		position: relative;
		margin-bottom: 0.4em;
		font-size: 2.9rem;
		font-weight: 500;
		z-index: 10;

		&::before {
			position: absolute;
			bottom: -0.15em;
			left: 0;
			width: 20%;
			height: 2px;
			background-color: $pure-white;
			content: '';
		}
	}

	&__text {
		font-size: 1.3rem;
		z-index: 10;
	}
}

//OFFERS
.offers {
	position: relative;

	&__cards {
		display: grid;
		justify-items: center;
		grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
		gap: 2em;
		width: 100%;
		transition: max-height 1s;
		overflow: hidden;

		&--show-all {
			max-height: none; 
		}
	}

	&__card {
		position: relative;
		width: 250px;
		height: 360px;
		font-size: 1.3rem;
		text-align: center;
		color: $pure-white;
		cursor: pointer;

		&:hover {
			.offers__card-awers {
				opacity: 0;
			}

			.offers__card-rewers {
				opacity: 1;
			}
		}

		&-awers,
		&-rewers {
			border-radius: 15px;
			overflow: hidden;
		}

		&-awers {
			position: relative;
			width: 100%;
			height: 100%;
			transition: transform 0.6s, opacity 0.6s;

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.5);
				content: '';
			}

			&-img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			&-heading {
				position: absolute;
				top: 37px;
				left: 50%;
				width: 100%;
				transform: translateX(-50%);
			}

			&-text {
				position: absolute;
				bottom: 30px;
				right: 30px;
				font-weight: bold;

				i {
					margin-left: 0.5em;
					animation: offersArrowAnimation 1.7s infinite;
				}
			}
		}

		&-rewers {
			position: absolute;
			display: grid;
			top: 0;
			left: 0;
			justify-items: center;
			align-items: center;
			grid-template-rows: repeat(3, 1fr);
			width: 100%;
			height: 100%;
			background-color: $pure-red;
			transition: transform 0.6s, opacity 0.6s;
			opacity: 0;

			&-item {
				padding: 0.7em;
				border-bottom: 1px solid;

				&:last-child {
					border-bottom: none;
				}
			}

			&-btn {
				align-self: end;
				margin-bottom: 2em;
				padding: 0.5em 1em;
				color: $pure-white;
				background-color: $main-color;
				border: none;
				border-radius: 8px;
				transition: opacity 0.3s; 
				pointer-events: none; 
				opacity: 0.5; 
			}

			&-heading {
				width: 100%;
			}
		}
	}
}

.new-offer {
	color: $green;
	background-color: $light-green;

	&__option {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr repeat(2, auto);
		width: 100%;
		font-size: 1.3rem;
		background-color: $pure-white;
		box-shadow: 5px 5px 10px rgba(46, 46, 46, 0.18);
		overflow: hidden;

		&-img {
			grid-row: 1/2;
			grid-column: 1/4;
			width: 100%;
			transition: transform 0.4s;

			&:hover {
				transform: scale(1.02);
			}
		}

		&-info {
			display: grid;
			justify-content: center;
			align-content: center;
			grid-row: 2/3;
			grid-column: 1/4;
			padding: 2em;
		}

		&-heading {
			margin-bottom: 0.5em;
			font-size: 2rem;
		}

		&-items {
			padding: 1em 0;
		}

		&-item {
			padding: 0.3em 0;
			font-weight: 600;
		}

		&-btn {
			display: block;
			grid-row: 3/4;
			grid-column: 2/3;
			margin-bottom: 2em;
			margin-top: 0;
			padding: 0.8em;
			text-align: center;
			color: $pure-white;
			background-color: $pure-green;
			border: none;
			border-radius: 8px;
			cursor: pointer;
		}
	}
}

//HERO_IMG
.hero-img {
	position: relative;
	display: grid;
	justify-content: center;
	align-content: center;
	padding: 0.5em;
	height: 100vh;
	color: $pure-white;
	@include heroImages('../img/hero-img-sm.jpg');
	background-attachment: fixed;

	&__title {
		position: relative;
		margin-bottom: 0.4em;
		font-size: 2.9rem;
		font-weight: 500;
		z-index: 10;

		&::before {
			position: absolute;
			bottom: -0.15em;
			left: 0;
			width: 20%;
			height: 2px;
			background-color: $pure-white;
			content: '';
		}
	}

	&__text {
		font-size: 1.3rem;
		z-index: 10;
	}
}


.hero-img-team{
	@include heroImages('../img/about/team-img-sm.jpg');
}

.hero-img__title, .hero-img__text {
    opacity: 0; /* Na początku ukryte */
    transform: translateX(-100%); /* Zaczynają po lewej stronie */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.hero-img__title.visible, .hero-img__text.visible {
    opacity: 1; /* Zmienia się na widoczny */
    transform: translateX(0); /* Przesuwa się na swoje miejsce */
}

// TIPS
.tips {
	background-color: $pure-white;

	&__cards {
		display: grid;
		justify-items: center;
		align-items: center;
		gap: 2em;
		width: 100%;
	}

	&__card {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: 1fr repeat(2, auto);
		max-width: 350px;
		box-shadow: 0 0 10px 5px rgba(46, 46, 46, 0.18);
		transition: transform 0.4s;

		&:hover {
			transform: scale(1.05);
		}

		&:first-child {
			display: grid;
		}

		&-img {
			grid-row: 1/2;
			grid-column: 1/2;
			width: 100%;
			object-fit: cover;
		}

		&-info {
			align-self: start;
			grid-row: 2/3;
			grid-column: 1/2;
			padding: 0.5em;

			&-title {
				margin-top: 1em;
				margin-bottom: 1em;
				font-size: 1.7rem;
			}

			&-text {
				font-size: 1.3rem;
			}
		}

		&-btn {
			justify-self: end;
			grid-row: 3/4;
			grid-column: 1/2;
			margin: 1.6em;
			font-weight: 500;
			color: $pure-red;
			transition: color 0.3s;
			cursor: pointer;

			&:hover {
				color: $hover-btn;
			}

			i {
				margin-right: 0.4em;
			}
		}
	}

	&__popup {
		position: fixed;
		display: none;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 1000;

		
		&-box {
			position: absolute;
			top: 50%;
			left: 50%;
			padding: 1em;
			max-width: 400px;
			background-color: $pure-white;
			border-radius: 20px;
			transform: translate(-50%, -50%);

			&-text {
				text-align: center;
				font-size: 1.6rem;
			}

			&-btn {
				position: relative;
				bottom: .2em;
				margin-top: 2em;
				font-size: 1.6rem;
			}
		}
	}
}

.popup-animation {
	animation: show-popup 0.5s;
}

//HERO_IMG2
.hero-img2 {
	position: relative;
	display: grid;
	grid-template-rows: repeat(2, auto);
	justify-items: center;
	align-items: center;
	padding: 0.5em;
	height: 100vh;
	color: $pure-white;
	@include heroImages('../img/hero-counter-sm.jpg');

	&__title {
		position: relative;
		align-self: end;
		font-size: 3rem;
		font-weight: 500;
		z-index: 10;

		&::before {
			position: absolute;
			bottom: -0.15em;
			left: 0;
			width: 20%;
			height: 2px;
			background-color: $pure-white;
			content: '';
		}
	}

	&__text {
		font-size: 1.3rem;
		z-index: 10;
	}

	&-counter-box {
		display: grid;
		gap: 2em;
		z-index: 10;
	}

	&-counter-item {
		width: 150px;
		text-align: center;
		color: $pure-white;
	}

	&-counter-text {
		text-align: center;
		font-size: 1.4rem;
	}

	&-counter {
		margin: 0.3em 0;
		font-size: 2.6rem;
		font-weight: 500;
	}
}

//REVIEWS
.swiper {
	width: 100%;
	height: auto;
	padding: 2em; 
}

.swiper-slide {
	height: auto;
	transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; 
	opacity: 1; 
	cursor: pointer;
}


.swiper-slide.swiper-slide-active {
	transform: scale(1.05);
	opacity: 1; 

	&:hover {
		transform: scale(1);
	}
}

.swiper-button-prev,
.swiper-button-next {

	color: $main-color;
	transition: color 0.3s, transform 0.3s;

	&:hover {
		color: $hover-btn;
		transform: scale(1.15);
	}
}

.reviews {
	background-color: $light-red;

	&__box {
		position: relative;
		margin-bottom: 2em;
		padding: 1em;
		max-width: 300px;
		background-color: $pure-white;
		border-radius: 25px;
		box-shadow: 3px 3px 10px rgba(46, 46, 46, 0.18);
		opacity: 0.7;

		&-img {
			position: absolute;
			top: 8%;
			left: 50%;
			transform: translate(-50%, -50%);

			img {
				width: 90px;
				height: 90px;
				border-radius: 50%;
				object-fit: cover;
			}
		}

		&-text {
			margin-top: 5.5em;
			margin-bottom: 6.5em;
			font-size: 1.3rem;
			color: $dark;
		}

		&-footer {
			position: absolute;
			bottom: 5%;
			left: 50%;
			width: 100%;
			transform: translate(-50%);
		}

		&-stars {
			margin: 1.4em;
			text-align: center;
			color: gold;
		}

		strong {
			display: block;
			text-align: center;
		}
	}
}

.contact {
	background-color: $light-white;
	overflow: hidden;

	&__form {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(15, auto);
		width: 100%;
	}

	&__form-label {
		margin-bottom: 0.5em;
		text-transform: uppercase;

		&--name {
			grid-column: 1/2;
			grid-row: 1/2;
		}

		&--email {
			grid-column: 1/2;
			grid-row: 3/4;
		}

		&--msg {
			grid-column: 1/2;
			grid-row: 5/6;
		}
	}


	&__form-input {
		@include contactForm;
		background-color: $pure-white;
		width: 100%;

		&--name {
			grid-column: 1/3;
			grid-row: 2/3;
		}

		&--email {
			grid-column: 1/3;
			grid-row: 4/5;
		}
	}

	&__form-textarea {
		grid-column: 1/3;
		grid-row: 6/7;
		@include contactForm;

		max-width: 100%;
		width: 100%;
		min-height: 150px;
	}


	&__form-consent {


			
		&-input,
		&-label,
		&-text  {
			grid-column: 1/3;
			
		}

		&-input {
			margin: 2em 0;
			grid-row: 7/8;
		}

		&-label {
			grid-row: 8/9;
			text-align: center;
			font-size: 1.4rem;
		}

		&-asterisk {
			padding: 1em;
			padding-left: 0;
			font-size: 2rem;
			color: red;
		}

		&-text {
			grid-row: 9/10;
			padding: 1em 0;
			text-align: center;
		}
	}

	
	&__form-error {
		grid-column: 1/3;
		grid-row: 10/11;
		margin: 0.8em;
		margin-bottom: 3em;
		text-align: center;
		font-size: 1.8rem;
		color: $pure-red;
		visibility: hidden;

	}

	
	&__form-btn {
		grid-column: 1/3;
		grid-row: 12/13;
		padding: 1em;
		width: 100%;
		color: $pure-white;
		border: none;
		background-color: $main-color;
		cursor: pointer;
	}

	&__status {
		position: absolute;
		top: 50px;
		display: none;
		justify-content: center;
		align-items: center;
		padding: 2em;
		font-size: 2.2rem;
		font-weight: 700;
		border-radius: 12px;
		z-index: 10000;
	}

	.success {
		display: flex;
		background-color: hsl(143, 83%, 55%);
	}

	.error {
		display: flex;
		background-color: hsl(9, 100%, 64%);
	}


}

.contact__status--active {
	visibility: visible;
}


.footer {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: repeat(5, auto);
	justify-items: center;
	align-items: center;
	color: $pure-white;
	background-color: $pure-dark;

	&__top-icon {
		padding: 0.6em;
		margin: 0.2em;
		font-size: 2.2rem;
		color: $pure-dark;
		background-color: $pure-white;
		border-radius: 50%;
		transition: box-shadow 0.3s;

		&:hover {
			box-shadow: 0 0 10px $pure-white;
		}
	}

	&__top-item {
		display: block;
		padding: 0.2em;
		text-align: center;
		font-size: 1.8rem;
		color: $pure-white;
		transition: text-shadow 0.3s;

		&:hover {
			text-shadow: 0 0 10px $pure-white;
		}
	}

	&__top-icons {
		justify-self: center;
		grid-column: 1/2;
		grid-row: 1/2;
		padding-top: 3em;
	}

	&__top-items {
		justify-self: center;
		grid-column: 1/2;
		grid-row: 2/3;
		margin-top: 1em;
		padding-top: 1em;
		width: 100%;
		border-top: 2px solid $pure-white;

		&--right {
			grid-row: 3/4;
		}

		&--repository{
			grid-column: 1/2;
			grid-row: 4/5;
			margin-top: 1em;
			padding-top: 1em;
			width: 100%;
			border-top: 2px solid $pure-white;

			i{
				margin-right: 0.5em;
			}
		}
	}


	&__bottom {
		align-self: end;
		grid-column: 1/2;
		grid-row: 5/6;
		width: 100%;
		margin-top: 2em;
		padding: 0.5em;
		text-align: center;
		background-color: $dark;
	}
}

// -------------------------------------
// MEDIA QURIES
// -------------------------------------

@media (min-width: 330px) {
	.header {
		padding: 0 1em;
		&__heading {
			font-size: 3rem;
		}

		&__text {
			font-size: 1.6rem;
		}
	}
	.hero-img {
		padding: 0 1em;
		&__title {
			font-size: 3rem;
		}

		&__text {
			font-size: 1.6rem;
		}
	}

	.tips {
		&__card {
			&-info {
				padding: 0.5em 1.2em;
			}
		}
	}

	.hero-counter {
		padding: 0 1em;
		&__title {
			font-size: 3rem;
		}

		&__text {
			font-size: 1.6rem;
		}
	}
}


@media (min-width: 480px) {
	.offers {
		&__card {
			width: 300px;
			height: 400px;
			font-size: 1.6rem;

			&-awers {
				&-heading {
					top: 35px;
				}

				&-text {
					font-weight: normal;
				}
			}

		}
	}

	.tips{
		&__popup{
			&-box{
				&-btn{
					margin-bottom: 0;
				}
			}
		}
	}

	
	.reviews {
		&__box {

			&-text {
				padding: 0 1em;
				font-size: 1.4rem;
			}
		}
	}
}

@media (min-width: 576px) {
	.header {
		height: 75vh;
		&__heading {
			font-size: 4rem;
		}

		&__text {
			font-size: 1.6rem;
		}
	}

	.new-offer {
		&__option {
			font-size: 1.6rem;

			&-heading {
				font-size: 2.4rem;
			}
		}
	}

	.hero-img {
		height: 75vh;
		&__title {
			font-size: 4rem;
		}

		&__text {
			font-size: 1.6rem;
		}
	}

	//REVIEWS
	.swiper-button-prev,
	.swiper-button-next {
		margin: 0 1em;
	}

	.tips {
		&__cards {
			grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
			gap: 3em 1em;
		}

		&__card {
			grid-template-rows: 1fr 1fr auto;
			height: 430px;

			&-img {
				max-height: 180px;
			}

		}

		&__popup{
			&-box{

				padding: 1.5em;
				
			}

			&-text,
			&-btn {
			font-size: 1.8rem;
		}
		}
	}

	.hero-img2 {
		height: 75vh;
		&__title {
			font-size: 4rem;
		}

		&-counter-box {
			grid-template-columns: repeat(3, 1fr);
		}

		&-counter-text {
			font-size: 1.6rem;
		}

	}

	.contact {
		font-size: 1.8rem;

		&__form-consent {

			&-label{
				font-size: 1.6rem;
			}
		}

		&__form-btn {
			justify-self: end;
			grid-column: 2/3;
			max-width: 300px;
			font-size: 1.6rem;
		}
	}

	.footer {
		&__top-icon {
			margin: 0 0.3em;
		}
		&__top-icons {
			margin-top: 3em;
		}
		&__top-items, 
		&__top-items--repository{
			display: inline;
			margin-top: 1em;
			width: auto;
			border-top: none;
		}
		&__top-item {
			display: inline;
			width: auto;
		}
		&__bottom {
			margin-top: 4em;
		}
	}
}
